[Desktop Entry]
Version=1.0
Type=Application
Name=Tirra
GenericName=Encrypted Text Editor
Comment=Encrypted Writing Space
Exec=sh -c "/usr/bin/tirra"
Terminal=false
MimeType=text/plain;
Icon=tirra
Categories=Utility;
StartupNotify=false
StartupWMClass=win-tirra-lnx
